:root {
    /* Fonts */
--main-font:'Roboto', sans-serif;
--logo-font: 'Raleway', sans-serif;
    /* Text colors */
--main-color: #434455
    /* BG colors */
}




body {
font-family: var(--main-font);
color: var(--main-color)

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

